body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border-radius: 10px;
}

form.search button {
  border-radius: 10px;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.search {
  margin: auto;
  margin-top: 40%;
  max-width: 322px;
  width: 82%;
}
li {
  margin: auto;
  margin-top: 40%;
  max-width: 322px;
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: inherit;
  margin-right: 15%;
}
.showBtn {
  border-radius: 50%;
  border: 1px solid salmon;
  background: #7c308a;
  height: 30px;
  width: 33px;
  margin-left: 5%;
}
.image {
  height: 20%;
  margin-top: 20%;
  width: 50%;
}
.para {
  margin: 10% 10% 10% -41%;
  text-align: justify;
}
